model_name: resnet # model name
backbone_name: resnet50  # backbone name
num_classes: 2
log_dir: ./log
seed: 42
train_dataset_configs: [
  config\dataset\train_dataset_config_1.yaml,
]

test_dataset_configs: [
  config\dataset\test_dataset_config_1.yaml,
  config\dataset\test_dataset_config_2.yaml
]

# mean and std for normalization
mean: [0.5, 0.5, 0.5]
std: [0.5, 0.5, 0.5]

# optimizer config
optimizer:
  # choose between 'adam' and 'sgd'
  base: adam
  additional: null
  adam:
    lr: 0.001  # learning rate
    betas: [0.9, 0.999]  # betas for Adam optimizer
    eps: 0.00000001  # epsilon for Adam optimizer
    weight_decay: 0.0001  # weight decay for regularization
    amsgrad: false
  sam:
    rho: 0.05
    affect_classifier: false

# training config
resolution: 224   # resolution of output image to network
lr_scheduler: step   # learning rate scheduler
lr_step: 2
lr_gamma: 0.5
n_epochs: 15   # number of epochs to train for
start_epoch: 0   # manual epoch number

# loss function
loss_func: cross_entropy   # loss function to use
losstype: null

# metric
metric_scoring: auc   # metric for evaluation (auc, acc, eer, ap)
cuda: true   # whether to use CUDA acceleration
cudnn: true   # whether to use CuDNN for convolution operations
