name: train1

root: E:\DeepFake\Dataset\frames
real_dataset_names: [deepfacelab]
fake_dataset_names: [deepfacelab]
batch_size: 8
workers: 0
split:
  train: 0.8
  val: 0.2

# data augmentation
use_data_augmentation: true  # Add this flag to enable/disable data augmentation
data_aug:
  flip_prob: 0.5
  rotate_prob: 0.5
  rotate_limit: [-10, 10]
  blur_prob: 0.5
  blur_limit: [3, 7]
  brightness_prob: 0.5
  brightness_limit: [-0.1, 0.1]
  contrast_limit: [-0.1, 0.1]
  quality_lower: 40
  quality_upper: 100